services:
  nginx:
    image: nginx:1.21.5-alpine
    volumes:
      - ../src:/var/www
      - ./nginx:/etc/nginx/conf.d
    ports:
    - "80:80"
  php:
    build: 
      context: ./
      dockerfile: Dockerfile
    working_dir: /var/www/
    volumes:
      - ../src:/var/www
  mysql:
    image: mysql:8.0.27
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
    - ./mysql_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - mysql
    restart: always
    links:
      - mysql
    ports:
      - '8080:80'
    environment:
      PMA_HOST: mysql